<main id="test-container">
</main>

<script>
  testApp.renderTestApp(
    document.getElementById('test-container')
  )
</script>

<button class="start-test">
  <%= link_to "Back", root_path %>
</button>